

<div class="flex flex-wrap items-start justify-start">
  <% @projects.each do |project| %>
    <div class="relative w-full p-6 mb-6 border-2 border-blue-700 rounded-lg lg:w-1/4 lg:mr-8">
      <%= image_tag project.thumbnail, class: 'rounded h-auto mb-4 w-full' if project.thumbnail.present? %>
      <h2 class="mb-2 text-2xl font-bold">
        <%= project.title %>
      </h2>
      <div class="my-1"> <%= truncate(strip_tags(project.description.to_s), length: 140) %> </div>
      <p>
        <%= project.donation_goal %>
      </p>
      <%= link_to "view_project", project, class: 'btn btn-default inline-block text-center my-2' %>
      <% if author_of(project) %>
        <div class="top-0 right-0 mt-2 mr-2 absloute">
          <%= link_to edit_project_path(project) do  %>      
            Edit
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>